.mySkills {
  /* border: solid; */
  margin-top: 50px;
}
.mySkills .section-container h1 {
  text-align: center;
  font-size: 45px;
}
.mySkills .skill-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid; */
}
.mySkills .column-left {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0px 50px;
}
.mySkills .column-left .text{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.mySkills .column-left p {
  font-size: 18px;
  line-height: 30px;
}
.mySkills .column-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySkills .column-right .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.mySkills .column-right .info a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.mySkills .column-right .info a img {
  padding: 10px 40px;
}

@media screen and (max-width: 781px){
  .mySkills {
    margin-top: 50px;
  }
  .mySkills .column-right .info a {
    margin-right: 30px;
  }
}

@media screen and (max-width: 441px){
  .mySkills .column-left .text{
    font-size: 25px;
  }
}