.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 50px;
}
.i-left{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.i-name{
  display: flex;
  flex-direction: column;
}

.i-name>:nth-child(1){
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.i-name>:nth-child(2){
  color: rgb(142, 208, 241);
  font-weight: bold;
  font-size: 3rem;
}

.i-name>:nth-child(3){
  font-weight: 100;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

.i-button{
  width: 8rem;
  height: 2rem;
}

.i-icons{
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}

.i-icons>*{
  transform: scale(0.5);
}

.i-icons>*:hover{
  cursor: pointer;
}

/* .i-icons .resume > img{
  width: 100px;
} */

.i-right{
  width: 50%;
}

.i-icons > .resume{
  font-size: 60px;
}

.resume {
  background: linear-gradient(180deg, #85a5af,#7ab9fc 99.36%);
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 991px){
  .i-left{
    padding-left: 20px;
  }
}
@media screen and (max-width: 761px){
  .intro{
    flex-direction: column;
    margin-top: 50px;
  }
  .i-left{
    width: 100%;
    padding-left: 10px;
  }
  .i-right{
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 441px){
  .i-right img {
    width: 100%;
  }
}