.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
  min-height: 1000px;
  padding: 0px;
}

.intro .i-left,.intro .i-right{
  padding: 0px 0px 0px 50px;
}

.i-left{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.i-name{
  display: flex;
  flex-direction: column;
}

.i-name>:nth-child(1){
  color: black;
  font-weight: 700;
  font-size: 70px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: -3.2px;
}

.i-name>:nth-child(2){
  color: rgb(142, 208, 241);
  font-weight: 700;
  font-size: 70px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: -3.2px;
}

.i-name>:nth-child(3){
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  color: rgb(79, 79, 79);;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  letter-spacing: -1.8px;
  text-align: start;
}

.i-button{
  width: 8rem;
  height: 2rem;
}

.i-icons{
  display: flex;
  gap: 0rem;
  margin-bottom: 1rem;
}

.i-icons>*{
  transform: scale(0.5);
}

.i-icons>*:hover{
  cursor: pointer;
}

.i-right{
  width: 50%;
}

.i-icons > .resume{
  font-size: 60px;
}

.resume {
  background: linear-gradient(180deg, #85a5af,#7ab9fc 99.36%);
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 991px){
  .i-left{
    padding-left: 20px;
  }
}
@media screen and (max-width: 761px){
  .intro{
    flex-direction: column;
    margin-top: 50px;
  }
  .i-left{
    width: 100%;
    padding-left: 10px;
  }
  .i-right{
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 441px){
  .i-right img {
    width: 100%;
  }
}