nav {
  display: block;
}

.navbar{
  position: fixed;
  width: 80%;
  padding: 10px 0;
  z-index: 999;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
  border-radius: 17px;
  background-color: rgba(187, 191, 191,0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 14px rgba(0,0,0,.05);
  top: 10px;
}

.navbar .section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .section-container .n-left{
  display: flex;
  justify-content: center;
}

.section-container {
  max-width: 1300px;
  padding: 0 30px;
  margin: auto;
}

.n-left .n-name{
  font-size: 30px;
  font-weight: 500;
  font-family: "Pacifico";
  transition: all 0.3s ease;
}

.n-left{
  font-size: 3rem;
  font-weight: 400;
}
.n-left .n-name:hover{
  cursor: pointer;
}

.navList {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navList li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navbar .section-container .navList li {
  list-style: none;
  display: inline-block;
}

.navbar .section-container .navList li a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-left: 25px;
  color: black;
  transition: color 0.3s ease;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.navbar .section-container .navList li a:hover {
  color: rgb(142, 208, 241);
}

.hamberMenu{
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 947px) {
  #root{
    overflow-x: hidden;
  }
  .intro{
    margin-top: 100px;
  }

  .navbar{
    width: 100%;
  }

  .section-container .navList{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: -10px;
    background: rgb(239, 246, 246);
    text-align: center;
    padding-top: 40px;
    transition: all 0.3s ease;
  }

  .section-container .active{
    left: 0;
    padding-left: 0;
  }

  .hamberMenu{
    display: block;
    color: black;
    z-index: 999;
  }

  .navbar .section-container .active li{
    display: block;
    padding: 10px 0;
  }

}