/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App{
  /* padding: 0.5rem 3.5rem; */
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  /* border: solid; */
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #85a5af,#7ab9fc 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(178, 225, 227, 0.42);
}

.button:hover{
  background: white;
  cursor: pointer;
  color: rgb(118, 213, 248);
  border: 1px solid rgb(142, 208, 241);
}

/*  */

html {
  scroll-behavior: smooth;
}

a{
  list-style: none;
}

section {
  padding: 120px 0;
  /* min-height: 1000px; */
}